<h1>詳細</h1>
<h2><%= @user.name %></h2>
<table>
  <thead>
    <tr>
      <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
    </tr>
  </thead>
  <tbody>
    <% sunday = @user.first_date_of_week %>
    <tr>
      <% 7.times do %>
      <td><%= sunday.day %></td>
      <% sunday = sunday.next_day %>
      <% end %>
    </tr>
  </tbody>
</table>

<% schedules = @user.schedules %>
<ul>
  <% schedules.each do |schedule| %>
  <li>
    <%= schedule.scheduled_date %>
    <%= link_to '削除', schedule_path(schedule), method: :delete %>
    <%= link_to '編集', edit_schedule_path(schedule) %>
  </li>
  <% end %>
</ul>

<% scheduled_date = @user.schedules.first.scheduled_date %>
