<span><%= @today.year %></span>年
<span><%= @today.month %></span>月
<table>
  <thead>
    <tr>
      <th>担当者</th><th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
    </tr>
  </thead>
  <tbody>
    <% @weeks.each_with_index do |week, index| %>
      <% schedule = Schedule.find_by(first_date_of_week: week[0]) || Schedule.new(first_date_of_week: week[0]) %>
      <tr>
        <td>
          <!-- セレクトボックス -->
          <%= form_for schedule do |f| %>
            <%= f.select :user_id, options(@users), include_blank: '選択ボックス' %>
            <%= f.hidden_field(:first_date_of_week) %>
            <%= f.submit %>
          <% end %>
        </td>
        <% week.each do |date| %>
          <td>
            <%= date.day %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
