<span><%= @today.year %></span>年
<span><%= @today.month %></span>月
<table>
  <thead>
    <tr>
      <th>担当者</th><th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>完了?</th>
    </tr>
  </thead>
  <tbody>
    <% @weeks.each_with_index do |week, index| %>
      <% schedule = Schedule.find_by(first_date_of_week: week[0]) || Schedule.new(first_date_of_week: week[0]) %>
      <% form_id = "schedule_form_#{index}" %>
      <tr>
        <td>
          <%= form_for schedule, html: { id: form_id } do |f| %>
            <%= f.select :user_id, options(@users), {include_blank: ''}, class: 'select-box' %>
            <%= f.hidden_field :scheduled_date, class: 'scheduled-date' %>
            <%= f.hidden_field :first_date_of_week %>
          <% end %>
        </td>
        <% week.each do |date| %>
          <% date_classes = ['date'] %>
          <% date_classes.push('scheduled-date') if date == schedule.scheduled_date %>
          <% date_classes.push('finished') if schedule.status  %>
          <td class="<%= date_classes.join(' ') %>" data-date="<%= date %>" data-form-id="<%= form_id %>">
            <%= date.day %>
          </td>
        <% end %>
        <td data-form-id="<%= form_id %>">
          <%= form_for schedule, html: {class: 'radio-box'} do |f| %>
            <%= f.radio_button :status, true %>
            <%= f.label :status, '完了', {value: true} %>
            <%= f.radio_button :status, false %>
            <%= f.label :status, '未完了', {value: false} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
