<!DOCTYPE html>
<html>
  <head>
    <title>Unicleaner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Unicleaner', root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse">
          <%= link_to 'ホーム', root_path, class: 'nav-item nav-link' %>
        <% if current_user %>
          <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-item nav-link' %>
        <% else %>
          <%= link_to 'ログイン', login_path, class: 'nav-item nav-link' %>
          <%= link_to '新規登録', new_user_path, class: 'nav-item nav-link' %>
        <% end %>
      </div>
    </nav>
      <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
